# Бинарные файлы (результаты сборки)
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
# Если ты назовешь бинарник по имени папки, добавь его сюда:
ws-redis-test

# Зависимости (обычно не игнорируются, если не используется vendor)
# vendor/

# Конфигурации и переменные окружения
.env
.env.local

# Логи
*.log

# Файлы IDE и редакторов
.vscode/
.idea/
*.swp
*.swo

# Файлы операционных систем
.DS_Store
Thumbs.db

# Временные файлы Redis (если запускаешь его локально и он создает дампы)
dump.rdb
